# Flask Relations Quiz

### Introduction

### Loading Data

> Begin by changing to your postgres username, or just input postgres.

In [21]:
username = 'postgres'

In [25]:
from sqlalchemy import create_engine

conn_string = f'postgresql://{username}@localhost/imdb_movies'

conn = create_engine(conn_string, echo = True)
# df.to_sql('raw_transactions', conn, if_exists='replace')

Then connect to postgres and connect to the database.

imdb_movies```bash
psql -d imdb_movies
```

Then confirm that the tables have been created.

<img src="./tables.png" width="50%">

In [24]:
import pandas as pd
import psycopg2
import warnings
warnings.filterwarnings('ignore')

conn = psycopg2.connect(dbname='imdb_movies')
pd.read_sql("""select * from movies limit 1""", conn)

,id,title,studio,runtime,description,release_date,year
0,11784,!Women Art Revolution,Zeitgeist Films,83.0,"Through intimate interviews, art, and rarely s...",2011-06-01 00:00:00,2011

We should also create our test database.  First create a test database by connecting to postgres, and issuing the following command.

```bash
create database imdb_movies_test;
```

Then **log out of postgres**, and from bash, run the following.

> This will copy the tables and their structure to our `imdb_movies_test` database.

```bash
pg_dump -t actors imdb_movies | psql imdb_movies_test
pg_dump -t directors imdb_movies | psql imdb_movies_test
pg_dump -t movie_actors imdb_movies | psql imdb_movies_test
pg_dump -t movie_directors imdb_movies | psql imdb_movies_test
pg_dump -t movies imdb_movies | psql imdb_movies_test
pg_dump -t writers imdb_movies | psql imdb_movies_test
```

# Building our initial resource

Ok, now let's move onto our flask application.

1. Building the first model

* Create the Movie model, setting properties of
    * `__table__ = 'movies'`
    * `columns = ["id", "title", "studio", "runtime", "description", "release_date", "year"] `

1. Begin by initializing a flask application.  Write it in the `api/__init__.py` file and use the `create_app` function, that takes an argument of the database name.

2. Create a route (ie. an endpoint) such that the root_url returns the following string `welcome to the imdb movies app`.


2. Bonus points for connecting to the database using the correct setup (ie. .env file, settings.py file, and a app.config.from_mapping like so:

```
app.config.from_mapping(
    DATABASE= DB_NAME
)
```

You can see a similar filetree below (and mimicking it is fine), you just do not need a movies.db (or any .db file).

<img src="./similar-organized.png" width="30%">