# Flask Relations Quiz

### Introduction

### Loading Data

> Begin by changing to your postgres username, or just input postgres.

In [1]:
from sqlalchemy import create_engine
username = 'postgres'

conn_string = f'postgresql://{username}@localhost/imdb_movies'

conn = create_engine(conn_string, echo = True)
# df.to_sql('raw_transactions', conn, if_exists='replace')

In [1]:
import pandas as pd
root_url = "https://raw.githubusercontent.com/jigsawlabs-student/curriculum-images/main/has-many-movies-lab/"
names = ['actors', 'directors', 'movies', 'writers', 'movie_actors', 'movie_directors', 'movie_writers']
# loaded_dfs = [pd.read_csv(f'{root_url}{name}.csv') for name in names]

In [ ]:
for index, name in enumerate(names):
    loaded_dfs[index].to_sql(f'{name}', conn, index = False)
    conn.execute('ALTER TABLE schema.table ADD PRIMARY KEY (keycolumn);')

Then connect to postgres and connect to the database.

imdb_movies```bash
psql -d imdb_movies
```

Then confirm that the tables have been created.

<img src="./tables.png" width="50%">

In [1]:
import pandas as pd
import psycopg2
import warnings
warnings.filterwarnings('ignore')

conn = psycopg2.connect(dbname='imdb_movies')
sample_df = pd.read_sql("""select * from movies limit 10""", conn)

We should also create our test database.  First create a test database by connecting to postgres, and issuing the following command.

```bash
create database imdb_movies_test;
```

Then **log out of postgres**, and from bash, run the following.

> This will copy the tables and their structure to our `imdb_movies_test` database.

```bash
pg_dump -t actors imdb_movies | psql imdb_movies_test
pg_dump -t directors imdb_movies | psql imdb_movies_test
pg_dump -t movie_actors imdb_movies | psql imdb_movies_test
pg_dump -t movie_directors imdb_movies | psql imdb_movies_test
pg_dump -t movies imdb_movies | psql imdb_movies_test
pg_dump -t writers imdb_movies | psql imdb_movies_test
```

# Building our initial resource

Ok, now let's move onto our flask application.

### A. Building the data layer (models and orm)

1. Building the first model

> For the following, pass the relevant tests in the `test_movie.py` file.

* Create the Movie model
    * Allow the movie to take mass assignment, so that we can initialize the model like so
        * `Movie(title = 'Fast and the Furious', runtime = 83)`
    * Set the properties of
        * `__table__ = 'movies'`
        * `columns = ["id", "title", "studio", "runtime", "description", "release_date", "year"] `

2. Adding some utility methods

Ok, now let's add some methods to our orm.py file.  Please **do not** look at past labs/readings for this. 

* `find_all(cursor, Class, limit = 10)`
    * Should return a list of instances, and also take a argument of limit, with a default value set to 50, so that it only returns the first 50 instances from the corresponding class/table.  It should query the database to retrieve the records.  
    
* `find(cursor, Class, limit)`
    * Returns the specified instance.

### 2. Building the Flask Application

1. Begin by initializing a flask application.  Write it in the `api/__init__.py` file and use the `create_app` function, that takes an argument of the database name.  Create a `run.py` file that initializes tha app.

2. Create a route (ie. an endpoint) such that the `root_url` returns the following string `welcome to the imdb movies app`.

> You can test this, and following routes by running the `test_app.py` file.

3. Show by title

* Next create a route `/movies/title` where we can pass through a title like `Fast and the Furious: 2` and it will return a dictionary of the corresponding movie (reference the corresponding test).

4. Bonus points for connecting to the database using the correct setup (ie. `.env` file, `settings.py` file, and an app.config.from_mapping like so:

```python
app.config.from_mapping(
    DATABASE= DB_NAME
)
```